@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.page-header {
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  position: relative;
}

.navigation-logo-link {
  margin-bottom: -10px;
  margin-right: 28px;
}

.navigation-logo-img {
  width: 140px;
}

.navigation {
  display: flex;
  width: 710px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 30px;
  /* margin right на случай если будет переполнение и перенос на другую строку, чтобы списки не слиплись */
  padding: 0;
  list-style-type: none;
  width: 450px;
}

.navigation-list-item-link {
  display: block;
  padding: 20px 16px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 126px;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  width: 42px;
  height: 62px;
}

.header-button {
  width: 160px;
  padding: 8px 0;
  align-self: center;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Основная страница main */
/* Блок: hero */
.hero {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Блок: Преимущества */
.advantages {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.advantages-container {
  flex-grow: 1;
  padding: 69px 274px;
}

.advantages-main-text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-item,
.advantages-text-container {
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px;
  flex-grow: 1;
}

.advantages-item-img {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  flex-grow: 1;
}

.advantages-item-img-reverse {
  flex-direction: row-reverse;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-img {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-item-img-photo {
  min-width: 800px;
  object-fit: contain;
  flex-grow: 1;
}

.advantages-description {
  margin: 0;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

/* Блок: Удобства */
.services {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.services-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 64px 347px;
}

.services-item {
  box-sizing: border-box;
  width: 400px;
  padding: 80px 85px;
}

.services-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-icon {
  margin-bottom: 30px;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
}

.services-main-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

/* Блок: поиск гостиницы */
.hotels-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.hotels-search-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.hotels-search-text {
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotels-search-button {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/* Блок: подписка (главная и каталог) */
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 96px;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  width: 475px;
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-img {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-img > .subscription-title {
  color: #ffffff;
}

.subscription-button {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: none;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/* Каталог */
/* Фильтр */
.filter {
  padding: 30px 70px 70px 70px;
  margin-bottom: 50px;

  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-main-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* Хлебные крошки */
.filter-breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  font-size: 16px;
}

/* Форма */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  line-height: 23px;
}

/* Блок: инфраструктура и тип жилья */
.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-list-item {
  margin-bottom: 16px;
}

.filter-list-item:last-child {
  margin-bottom: 0;
}

/* Блок: стоимость */
.filter-group-price {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 288px;

  border: none;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 36px;
}

.price-label-min {
  position: absolute;
  top: 12px;
  left: 106px;

  line-height: 24px;
  color: rgba(117, 97, 87, 0.3);
}

.price-label-max {
  position: absolute;
  right: 20px;
  top: 12px;

  line-height: 24px;
  color: rgba(117, 97, 87, 0.3);
}

.price-input {
  box-sizing: border-box;
  width: 143px;
  padding: 0;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-right: 45px;

  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: none;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-range {
  flex-grow: 1;
  align-self: center;
  width: 287px;
  margin: 0;
}

/* Кнопки в фильтре */
.buttons-container {
  min-width: 191px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.apply-button {
  padding: 8px 20px;
  margin-bottom: 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.reset-button {
  padding: 8px 20px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/* Каталог гостиниц */
/* Сортировка гостиниц */
.search-result {
  width: 1060px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 49px;
  margin-bottom: 40px;
}

.search-result-text {
  margin: 0;

  width: 350px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-list-item {
  margin-right: 8px;
  min-width: 48px;
  min-height: 48px;
}

.layout-list-item:last-child {
  margin-right: 0;
}

.button-layout {
  font-weight: 700;
  color: #000000;
  border-radius: 4px;
  text-decoration: none;
}

.select-control {
  font-family: inherit;
  height: 49px;
  padding: 14px 20px;
  width: 300px;

  color: #333333;
  background-color: #ffffff;
}

/* Карточки */
.cards-container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  width: 340px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "detail favorite"
    "stars rate";
  column-gap: 20px;
  row-gap: 16px;
  justify-content: center;
  padding: 20px 0;
  border: 1px solid #e6e6e6;
}

.hotel-card-image-link {
  grid-area: image;
}

.hotel-card-title-link {
  grid-area: title;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-price-name {
  grid-area: type;
  margin: 0;
}

.hotel-price-value {
  grid-area: price;
  margin: 0;

  text-align: end;
}

/* Кнопки */
.detail-button {
  display: block;
  grid-area: detail;
  padding: 8px 0;
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.favorite-button {
  grid-area: favorite;
  padding: 8px 0;
  margin: 0;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.favorite-button-active {
  grid-area: favorite;
  padding: 8px 0;
  margin: 0;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.rate-button {
  grid-area: rate;
  padding: 8px 0;
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Пагинация */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  /* чтобы кнопка растянулась в ширину если значение будет большим */
  height: 60px;
  padding: 12px 10px;
  text-align: center;
  border-radius: 4px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

/* Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-logo {
  width: 115px;
  height: 33px;
  object-fit: contain;
}

.footer-social-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-list-item {
  width: 33.3%;
  padding: 0 10px;
}

.footer-phone {
  width: 720px;

  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
