@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  position: relative;
}

.header-logo-link {
  margin-bottom: -10px;
  margin-right: 28px;
}

.header-logo-link-img {
  width: 140px;
}

.navigation {
  display: flex;
  width: 710px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 30px;
  /* margin right на случай если будет переполнение и перенос на другую строку, чтобы списки не слиплись */
  padding: 0;
  list-style-type: none;
  width: 450px;
}

.navigation-list-item-link {
  display: block;
  padding: 20px 16px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-list-item-link-current {
  padding-bottom: 0;
}

.navigation-list-item-link-current::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 20px;
  background-color: #756257;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 126px;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item-link {
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.navigation-user-item-link-icon {
  position: absolute;
  top: 20px;
  right: 12px;
  bottom: 20px;
  left: 12px;
}

.navigation-user-item-link-count {
  position: absolute;
  padding: 5px;
  top: 11px;
  left: 20px;
  right: 4px;
  bottom: 33px;
  z-index: 1;

  border-radius: 50%;
  background-color: #7db54f;
}

.header-button {
  width: 160px;
  padding: 8px 0;
  align-self: center;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-button:hover,
.header-button:focus {
  background-color: #615048;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #e5e5e5;
}

/* Основная страница main */
/* Блок: hero */
.hero {
  padding-top: 51px;
  padding-bottom: 82px;

  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/divider.svg"), url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* Блок: Преимущества */
.advantages {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.advantages-container {
  flex-grow: 1;
  padding: 69px 274px;
}

.advantages-main-text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-item,
.advantages-text-container {
  width: 400px;
  padding: 102px 85px;
  flex-grow: 1;
}

.advantages-item-img {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
  flex-grow: 1;
}

.advantages-item-img-reverse {
  flex-direction: row-reverse;
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-title-img {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;


  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-title-img::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-item-img-photo {
  min-width: 800px;
  object-fit: contain;
  flex-grow: 1;
}

.advantages-description {
  margin: 0;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

/* Блок: Удобства */
.services {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 64px 347px;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
}

.services-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-title::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services-living::before {
  background-image: url("/images/icons/living-icon.svg");
}

.services-food::before {
  background-image: url("/images/icons/food-icon.svg");
}

.services-gift::before {
  background-image: url("/images/icons/souvenirs-icon.svg");
}

.services-description {
  margin: 0;
}

.services-main-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

/* Блок: поиск гостиницы */
.hotels-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}

.hotels-search-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.hotels-search-text {
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotels-search-button {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #615048;
}

.hotels-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-search-button:disabled {
  background-color: #e5e5e5;
}

/* Блок: подписка (главная и каталог) */
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  width: 475px;
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-img {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-img > .subscription-title {
  color: #ffffff;
}

.email-input {
  width: 452px;
  /* height: 52px; */
  padding: 14px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border-style: none;
  border-radius: 4px 0 0 4px;
}

.email-input-gray {
  background-color: #f2f2f2;
}

.subscription-button {
  padding: 8px 50px;
  margin-left: -5px;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: none;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background-color: #e5e5e5;
}

/* Каталог */
/* Фильтр */
.filter {
  padding: 30px 70px 70px 70px;
  margin-bottom: 50px;

  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-main-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* Хлебные крошки */
.filter-breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  column-gap: 27px;

  font-size: 16px;
}

.filter-breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.filter-breadcrumbs-item {
  position: relative;
  display: block;
}

.filter-breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-breadcrumbs-link:focus {
  color: #ffffff;
}

.filter-breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-breadcrumbs-link:hover .filter-breadcrumbs-link-svg {
  fill: rgba(255, 255, 255, 0.6);
}

.filter-breadcrumbs-link:focus .filter-breadcrumbs-link-svg {
  fill: #ffffff;
}

.filter-breadcrumbs-link:active .filter-breadcrumbs-link-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.filter-breadcrumbs-item::after {
  content: "";
  display: block;
  position: absolute;
  height: 21px;
  width: 8px;
  top: 0;
  right: -18px;

  background-image: url("/images/icons/arrow-right.svg");
  background-repeat: no-repeat;
}

.filter-breadcrumbs-item:last-child::after {
  content: none;
}

/* Форма */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  line-height: 23px;
}

/* Блок: инфраструктура и тип жилья */
.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-list-item {
  margin-bottom: 16px;
}

.filter-list-item:last-child {
  margin-bottom: 0;
}

.filter-list-item-label {
  position: relative;
  margin-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  left: -36px;
}

.control-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  left: -36px;
}

.filter-list-item-input[type="radio"]:checked + .control-radio::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  top: 25%;
  left: 25%;
}

.filter-list-item-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/images/catalog/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-list-item-label:hover .control-mark {
  background-color: rgb(255, 255, 255, 0.6);
}

.filter-list-item-label:focus .control-mark {
  outline: 3px solid #83b3d3;
}

.filter-list-item-label:active .control-mark {
  background-color: rgb(255, 255, 255, 0.3);
}

.filter-list-item-label:hover {
  color: rgb(255, 255, 255, 0.6);
}

.filter-list-item-label:active {
  color: rgb(255, 255, 255, 0.3);
}

/* Блок: стоимость */
.filter-group-price {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 288px;

  border: none;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 36px;
}

.price-label-min {
  position: absolute;
  top: 12px;
  left: 106px;

  line-height: 24px;
  color: rgba(117, 97, 87, 0.3);
}

.price-label-max {
  position: absolute;
  right: 20px;
  top: 12px;

  line-height: 24px;
  color: rgba(117, 97, 87, 0.3);
}

.price-input {
  width: 143px;
  padding: 0;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-right: 45px;

  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: none;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 1px;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

/* Кнопки в фильтре */
.buttons-container {
  min-width: 191px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  order: 10;
}

.apply-button {
  padding: 8px 50px;
  margin-bottom: 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68a2ca;
}

.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.apply-button:disabled {
  background-color: #e5e5e5;
}

.reset-button {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.reset-button:hover {
  color: #756157;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  opacity: 0.1;
}

/* Каталог гостиниц */
/* Сортировка гостиниц */
.search-result {
  width: 1060px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 49px;
  margin-bottom: 40px;
}

.search-result-text {
  margin: 0;

  width: 350px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-list-item {
  margin-right: 8px;
  min-width: 48px;
  min-height: 48px;
}

.layout-list-item:last-child {
  margin-right: 0;
}

.button-layout {
  display: block;

  font-weight: 700;
  color: #000000;
  border-radius: 4px;
  text-decoration: none;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
}

.button-layout-current,
.button-layout:hover,
.button-layout:active {
  border: 2px solid #000000;
}

.button-layout:focus {
  border: 2px solid #68a2ca;
}

.button-layout-svg {
  display: block;
}

.sorting {
  font-family: inherit;
  height: 49px;
  padding: 14px 20px;
  width: 300px;

  color: #333333;
  background-color: #ffffff;
  background-image: url("/images/catalog/sorting-mark.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
}

.sorting:hover,
.sorting:focus {
  border: 2px solid #68a2ca;
}

/* Карточки */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "detail favorite"
    "stars rate";
  column-gap: 20px;
  row-gap: 16px;
  justify-content: center;
  padding: 20px 0;
  border: 1px solid #e6e6e6;
}

.hotel-card-image-link {
  grid-area: image;

  line-height: 0;
}

.hotel-card-title-link {
  grid-area: title;
  width: max-content;

  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-price-name {
  grid-area: type;
  margin: 0;
}

.hotel-price-value {
  grid-area: price;
  margin: 0;

  text-align: end;
}

.hotel-card-star {
  min-width: 18px;
  min-height: 18px;
  background-color: #ffffff;
  background-image: url("/images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: top 10px left;
}

.hotel-card-star-two {
  width: 42px;
}

.hotel-card-star-three {
  width: 66px;
}

.hotel-card-star-four {
  width: 84px;
}

/* Кнопки */
.button {
  padding: 8px 15px;
  margin: 0;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:disabled {
  background-color: #e5e5e5;
}

.detail-button {
  display: block;
  grid-area: detail;
  color: #ffffff;
  background-color: #756157;
}

.detail-button:hover,
.detail-button:focus {
  background-color: #615048;
}

.detail-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button {
  grid-area: favorite;

  color: #ffffff;
  background-color: #82b3d3;
}

.favorite-button:hover,
.favorite-button:focus {
  background-color: #68a2ca;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button-active {
  grid-area: favorite;

  color: #ffffff;
  background-color: #7db54f;
}

.favorite-button-active:hover,
.favorite-button-active:focus {
  background-color: #6c9e42;
}

.favorite-button-active:active {
  color: rgba(255, 255, 255, 0.3);
}

.rate-button {
  grid-area: rate;

  color: #333333;
  background-color: #f2f2f2;
  cursor: auto;
}

/* Пагинация */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  /* чтобы кнопка растянулась в ширину если значение будет большим */
  height: 60px;
  padding: 12px 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  display: block;
  min-width: 60px;
  /* чтобы кнопка растянулась в ширину если значение будет большим */
  height: 60px;
  padding: 12px 10px;
  margin: 0;

  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

/* Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-list-item {
  position: relative;
  min-width: 47px;
}

.icon-social {
  position: absolute;
  top: 25%;
  left: 25%;
}

.button-social:hover .icon-social,
.button-social:focus .icon-social {
  fill: #68a2ca;
}

.button-social:active .icon-social {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 720px;

  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  width: 115px;
  height: 33px;
  object-fit: contain;
}

.footer-logo-link:hover .footer-logo-svg,
.footer-logo-link:focus .footer-logo-svg {
  fill: #756157;
}

.footer-logo-link:active .footer-logo-svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* МОДАЛЬНОЕ ОКНО */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

/* Кнопка закрытия модального окна */
.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active .modal-close-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* Форма поиска гостиницы */

.modal-form-fieldset {
  border: none;
}

.fieldset-container {
  display: grid;
  grid-template-columns: 120px max-content 1fr max-content;
  grid-template-rows: 1fr;
  column-gap: 18px;

  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.modal-form-title {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.modal-form-input {
  padding: 12px 20px;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.modal-form-label {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* Блок: даты заезда и выезда */
.date-label,
.adults-count-label {
  grid-column: 1 / 2;
}

.check-in-date-input,
.check-out-date-input {
  grid-column: 2 / 5;
  align-self: center;
}

.modal-form-text {
  grid-column: 2 / 5;
  margin-bottom: 23px;
  margin-left: 20px;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
}

.error-text {
  color: #ff0000;
}

.check-in-date-input,
.check-out-date-input {
  width: 440px;
  margin-bottom: 4px;
}

/* Блок: Взрослые и дети */
.count-input {
  width: 110px;
  padding: 12px 40px;
  text-align: center;
}

.input-container {
  position: relative;
  align-self: center;
}

.kids-input {
  justify-self: end;
}

/* Кнопки регулировки количества человек */
.count-input-button {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.count-input-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus {
  transform: translateX(10px) translateY(14px);
}

.plus {
  transform: translateX(-100%) translateX(-10px) translateY(14px);
}

.count-input-button:hover .button-svg {
  fill: #000000;
  fill-opacity: 1;
}

.count-input-button:focus .button-svg {
  fill: #000000;
  fill-opacity: 1;
}

.count-input-button:focus {
  outline: 3px solid #83b3d3;
}

.count-input-button:active .button-svg {
  fill: #756157;
  fill-opacity: 0.3;
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Кнопка поиска */
.modal-form-search-button {
  width: 100%;
  padding: 18px 25px;
  border: none;
  font-family: inherit;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* Тултип */
.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  padding: 7px 12px;
  margin: 0;
}

.tooltip-text {
  position: absolute;
  width: 256px;
  padding: 15px 18px 18px 22px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 10px;
  color:#ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0;
  transform: translateX(-106px) translateY(15px);
  z-index: 1;
  display: none;
}

.tooltip-text-arrow {
  position: absolute;
  top: -9px;
  right: 50%;
}

.modal-form-label-icon {
  position: relative;
  padding-right: 26px;
  margin-left: 70px;
 }

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}
